{% for tenant in tenants | arista.avd.natural_sort if ( tenant in leaf.filter_tenants or "all" in leaf.filter_tenants ) and leaf.evpn_services_l2_only == false %}
{%     if tenants[tenant].vrfs is defined %}
{%         for vrf in tenants[tenant].vrfs | arista.avd.natural_sort if leaf.vrfs is not none and vrf in leaf.vrfs %}
{%             if tenants[tenant].vrfs[vrf].bgp_peer_groups is arista.avd.defined %}
{%                 for bgp_peer_group in tenants[tenant].vrfs[vrf].bgp_peer_groups %}
{%                     if tenants[tenant].vrfs[vrf].bgp_peer_groups[bgp_peer_group].nodes is arista.avd.defined %}
{%                         if inventory_hostname in tenants[tenant].vrfs[vrf].bgp_peer_groups[bgp_peer_group].nodes %}
{%                             set peer_group_params = tenants[tenant].vrfs[vrf].bgp_peer_groups[bgp_peer_group] %}
{%                             if peer_group_params.set_ipv4_next_hop is arista.avd.defined or peer_group_params.set_ipv6_next_hop is arista.avd.defined %}
{%                                 do peer_group_params.update({ 'route_map_out':'RM-' ~ vrf ~ '-' ~ bgp_peer_group ~ '-SET-NEXT-HOP-OUT' }) %}
{%                                 if peer_group_params.default_originate is arista.avd.defined %}
{%                                     if peer_group_params.default_originate.route_map is not arista.avd.defined %}
{%                                         do peer_group_params.default_originate.update({ 'route_map_out':'RM-' ~ vrf ~ '-' ~ bgp_peer_group ~ '-SET-NEXT-HOP-OUT' }) %}
{%                                     endif %}
{%                                 endif %}
{%                                 if peer_group_params.set_ipv4_next_hop is arista.avd.defined %}
{%                                     do peer_group_params.pop('set_ipv4_next_hop') %}
{%                                 endif %}
{%                                 if peer_group_params.set_ipv6_next_hop is arista.avd.defined %}
{%                                     do peer_group_params.pop('set_ipv6_next_hop') %}
{%                                 endif %}
{%                             endif%}
{%                             do peer_group_params.pop('nodes') %}
{%                             if peer_group_params.address_family is arista.avd.defined %}
{%                                 do peer_group_params.pop('address_family') %}
{%                             endif %}
    {{ bgp_peer_group }}:
      {{ peer_group_params }}
{%                         endif %}
{%                     endif %}
{%                 endfor %}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endfor %}