{# Leaf tenant vrfs #}
{% for tenant in tenants | arista.avd.natural_sort if ( tenant in leaf.filter_tenants or "all" in leaf.filter_tenants ) and leaf.evpn_services_l2_only == false %}
{%     if tenants[tenant].vrfs is defined %}
{%         for vrf in tenants[tenant].vrfs | arista.avd.natural_sort if vrf in leaf.vrfs %}
{%             if loop.first %}
## {{ tenant }} ##
{%             endif %}
  {{ vrf }}:
    tenant: {{ tenant }}
    ip_routing: {{ tenants[tenant].vrfs[vrf].ip_routing | arista.avd.default(true) | bool | lower }}
{%             if tenants[tenant].vrfs[vrf].ipv6_routing is arista.avd.defined %}
    ipv6_routing: {{ tenants[tenant].vrfs[vrf].ipv6_routing | bool | lower }}
{%             endif %}
{%         endfor %}
{%     endif %}
{% endfor %}
